* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Handlee', cursive;
}

.App {
  text-align: center;
  background-color: rgba(175, 206, 187, 0.605);
  padding: 30px;
  min-height: 100vh;
}
::-webkit-scrollbar {
  width: 3px;
}
::-webkit-scrollbar-track {
  background: rgb(244, 173, 197);
}
::-webkit-scrollbar-thumb {
  background: #f1f1f1;
}
.form-wrapper {
  background: url('../src/assets/bg.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 480px;
  min-height: 90vh;
  padding: 10px;
  display: block;
  margin: auto;
}

.form-container {
  width: 360px;
  display: block;
  margin: auto;
}

.input-wrapper {
  display: flex;
  justify-content: left;
}

.add-input {
  padding: 10px;
  border: none;
  outline: none;
  border-bottom: 2px solid rgba(165, 42, 42, 0.525);
  background: none;
  width: 160px;
}
.edit-input {
  padding: 10px;
  border: none;
  outline: none;
  border-radius: 5px;
  width: 160px;
  background: #f1f1f1;
}
